.footer_wrapper {
    padding-block: 80px;
    background: #fff400;
}

.footer_content img {
    width: 172px;
    height: 55.513px;
    margin-bottom: 10px;

}

.footer_para p {
    color: #232222;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}