nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.logo img {
    max-width: 172px;
    height: 55.513px;
    margin-left: 40px;
    flex-shrink: 0;

}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    line-height: 84.023%;
    color: #000;
    font-family: Nunito;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
}

.nav-links a:hover {
    color:yellow;
}

.nav-links a.contact-btn {
    margin-right: 40px;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.nav-links a.contact-btn:hover  {
    background-color: #ffc107;
}

.nav-item.dropdown {
    margin-top: 5px;
}